#layout{
	background-color:white;
	width: auto;
	height: 600px;
}
#banner{
	background-color:white;
	width: auto;
	height: 100px;
}
#menu{
	background-color:#123;
	/*border-top:solid#26BA38;
	border-bottom:solid#26BA38;*/
	width: auto;
	height: 50px;
	
}
#content{
	background-color:white;
	width: auto;
	height: 400px;
}
#footer{
	background-color:black;
	width: auto;
	height: 50px;
}
h1{
	color:black;
	font-weight: 200px;
	font-family: Gabriola;
	
}
h2{
	color:black;
	font-weight: 200px;
	font-family: Gabriola;
}
p{
	color:white;
	font-family: Gabriola;
}
.dropdown{
	position: relative;
	display: inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
}
.dropbtn{
	
    padding:15px 34px;
    background-color:white;
    color:black;
    transition: 1s;
    
     
}
.dropdown:hover .dropdown-content{
	display: block;
	background-color:#454343;
}
.dropdown:hover .dropdown-content a{
	display: block;
text-decoration: none;
padding: 12px 6px;
color: white;
}
.dropdown-content a:hover{
	background-color:black;
	color: white;

}
.dropdown .dropbtn:hover{
	background-color: black;
	color: white;
}
table{
	border-collapse: collapse;
}